---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout
  title="Kontakt – Dein Projekt beginnt hier | maxWapp"
  seoTitle={"Kontaktiere maxWapp – Webdesign & Branding aus München"}
  seoDesc={"Du hast eine Idee oder brauchst eine starke Website? Melde dich für ein unverbindliches Gespräch. High-Conversion Webdesign, Branding & Analyse von Juri Lorenz – maxWapp München."}
>
  <!-- Hintergrund mit Verlauf -->
  <div
    class="min-h-screen text-white text-center flex flex-col items-center justify-center"
  >
    <!-- Titel -->
    <h1
      class="text-center text-4xl md:text-6xl font-bold drop-shadow-lg mt-12 mb-4 md:mt-36 md:mb-12"
    >
      Kontakt
    </h1>

    <!-- Untertitel -->
    <h2
      class="text-center text-xl md:text-3xl font-bold text-gray-300 drop-shadow-lg mx-4 my-4 md:mb-8"
    >
      <div>Verliert deine Website Kunden?</div>
      <div>Schick sie mir zur kostenlosen Analyse!</div>
    </h2>

    <!-- Kontakt form -->

    <section class="w-10/12 md:w-8/12 lg:w-6/12 mt-8 mb-12">
      <div
        class="relative bg-[#1b1b33] p-8 rounded-xl border border-gray-700 shadow-[0px_0px_35px_rgba(147,112,219,0.6)]"
      >
        <div
          class="absolute top-0 left-0 bg-gradient-to-r from-purple-400 to-blue-500 w-full h-2 rounded-t-xl"
        >
        </div>
        <form
          id="contact-form"
          action="https://formspree.io/f/mldegkwj"
          method="POST"
          class="space-y-6"
        >
          <div class="grid md:grid-cols-2 gap-4">
            <input
              type="text"
              name="name"
              placeholder="Name"
              required
              class="bg-transparent border border-gray-300 text-gray-300 py-3 px-4 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-[#6d87d1]"
            />
            <input
              type="email"
              name="email"
              placeholder="E-Mail"
              required
              class="bg-transparent border border-gray-300 text-gray-300 py-3 px-4 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-[#6d87d1]"
            />
          </div>
          <textarea
            name="message"
            placeholder="Nachricht"
            required
            class="bg-transparent border border-gray-300 text-gray-300 py-3 px-4 rounded-md w-full h-32 focus:outline-none focus:ring-2 focus:ring-[#6d87d1]"
          ></textarea>

          <div class="mt-4 flex md:items-start gap-3">
            <input
              type="checkbox"
              id="privacy-policy"
              required
              class="custom-checkbox mt-1 w-5 h-5 appearance-none bg-transparent border-2 border-gray-300 rounded focus:ring-0 checked:bg-blue-500 checked:border-[#6d87d1]"
            />
            <label for="privacy-policy" class="text-gray-300 text-left"
              >Ich akzeptiere die <a
                href="/privacy"
                class="underline hover:text-[#6d87d1]">Datenschutzerklärung</a
              ></label
            >
          </div>

          <!-- Hidden field for redirect -->
          <input
            type="hidden"
            name="_next"
            value="https://maxwapp.de/thank-you"
          />

          <div class="text-center mt-6">
            <button
              type="submit"
              class="bg-[#1f1235] text-white font-bold py-4 px-10 rounded-full border-2 border-[#6d87d1] shadow-lg transition-all duration-300 ease-in-out hover:bg-blue-500 hover:text-white hover:shadow-[0_0_10px_rgba(147,112,219,0.5),_0_0_25px_rgba(3,169,244,0.4)]"
            >
              Absenden
            </button>
          </div>
        </form>
      </div>
    </section>

    <!-- Kontaktinformationen im Kartenstil -->
    <section class="w-10/12 md:w-8/12 lg:w-6/12 mt-4 mb-12">
      <div
        class="relative bg-[#1b1b33] p-8 rounded-xl border border-gray-700 shadow-[0px_0px_35px_rgba(147,112,219,0.6)]"
      >
        <div
          class="absolute top-0 left-0 bg-gradient-to-r from-purple-400 to-blue-500 w-full h-2 rounded-t-xl"
        >
        </div>

        <!-- Контейнер для QR-кода и кнопок -->
        <div class="flex flex-col md:flex-col lg:flex-row gap-8 items-center">          
          <!-- Левая колонка: Кнопки и текст -->
          <div class="w-full md:w-8/12">
            <!-- Buttons for Contact -->
            <div
              class="flex flex-col md:flex-row gap-6 mt-8 justify-center items-center w-full"
            >
              <!-- Secondary Button - Telephone -->
              <a
                href="tel:+491777594839"
                class="bg-[#1f1235] text-white font-bold py-4 px-10 rounded-full border-2 border-[#6d87d1] shadow-lg transition-all duration-300 ease-in-out hover:bg-blue-500 hover:shadow-[0_0_10px_rgba(147,112,219,0.5),_0_0_25px_rgba(3,169,244,0.4)] text-center w-full max-w-xs md:max-w-none md:w-auto"
              >
                Telefon
              </a>
              <!-- Primary Button - WhatsApp -->
              <a
                href="https://wa.me/491777594839"
                target="_blank"
                class="relative inline-block py-4 px-10 rounded-full font-bold text-center w-full max-w-xs md:max-w-none md:w-auto bg-white text-[#090a1a] shadow-lg transition-all duration-300 ease-in-out hover:shadow-[0_0_20px_rgba(147,112,219,0.8),_0_0_35px_rgba(3,169,244,0.6)] hover:border-[#6d87d1]"
              >
                WhatsApp
              </a>
            </div>

            <!-- Contact Information -->
            <p class="mt-4 text-xl text-gray-300">
              <a href="tel:+491777594839" class="hover:text-[#6d87d1]"
                >+49 1 777 59 48 39</a>
            </p>
            <p class="mt-4 text-xl text-gray-300">
              (Mo – Fr von 8:00 bis 18:00 Uhr)
            </p>
            <p class="mt-4 text-xl text-gray-300">
              <strong>E-Mail:</strong>
              <a
                href="mailto:info@maxwapp.de"
                class="underline hover:text-[#6d87d1]">info@maxwapp.de</a>
            </p>

            <!-- Footer Links -->
            <div class="mt-4 flex justify-between">
              <a
                href="/imprint"
                class="underline text-gray-400 hover:text-[#6d87d1]"
                >Impressum</a
              >
              <a
                href="/privacy"
                class="underline text-gray-400 hover:text-[#6d87d1]"
                >Datenschutz</a
              >
            </div>
          </div>

          <!-- Правая колонка: QR-код -->
          <div
            class="w-full md:w-6/12 flex flex-col items-center "
          >
          <img
          src="/images/QR-code.webp"
          alt="QR-code"
          class="qr-code md:w-64 md:h-64 w-80 md:max-h-[60vh] object-contain rounded-lg shadow-md"
        />
            <p class="mt-4 text-xl text-gray-300">
              <a href="/" class="hover:text-[#6d87d1]">maxWapp.de</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</MainLayout>

<script>
  document
    .getElementById("contact-form")
    ?.addEventListener("submit", async function (e) {
      e.preventDefault()

      const form = e.target as HTMLFormElement // Explicitly cast e.target to HTMLFormElement
      const formData = new FormData(form)

      try {
        const response = await fetch(form.action, {
          method: form.method,
          body: formData,
          headers: {
            Accept: "application/json",
          },
        })

        if (response.ok) {
          window.location.href = "/thank-you" // Redirect to your thank-you page
        } else {
          alert("There was an issue submitting the form.")
        }
      } catch (error) {
        console.error("Error:", error)
        alert("There was an error submitting the form.")
      }
    })
</script>

<style>
  input:-webkit-autofill,
  textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #1b1b33 inset; /* Match the background color */
    -webkit-text-fill-color: #ffffff; /* Match text color */
    transition: background-color 5000s ease-in-out 0s;
  }

  /* Custom checkbox styling */
  .custom-checkbox {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
  }

  .custom-checkbox:checked::before {
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 0.75rem;
  }

  /* Card styling similar to the about page */
  .shadow-[0px_0px_35px_rgba(147,112,219,0.6)] {
    box-shadow: 0px 0px 35px rgba(147, 112, 219, 0.6);
  }

  .border-gray-700 {
    border-color: rgba(110, 110, 110, 1);
  }

  /* Adding a gradient top line for the card */
  .bg-gradient-to-r {
    background-image: linear-gradient(to right, #9c27b0, #03a9f4);
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    section.mb-12 {
      margin-bottom: 4rem;
    }
  }

  @media (max-width: 1024px) {
  .qr-code {
    width: 60%; /* Уменьшаем размер QR-кода */
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .qr-code {
    width: 80%; /* Чуть больше на мобильных */
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  .custom-checkbox {
    width: 3.5rem; /* Increase width */
    height: 2.5rem; /* Increase height */
  }

  .custom-checkbox:checked::before {
    font-size: 1rem; /* Make the checkmark bigger */
  }
}
</style>
