---
import MainLayout from "../layouts/MainLayout.astro";
import DevicesComponent from '../components/DevicesComponent.astro';
import ServicesComponent from '../components/ServicesComponent.astro';
import HeroComponent from "../components/HeroComponent.astro";
---

<MainLayout 
title="Websites, die verkaufen – professionelles Webdesign in München"
seoTitle="Professionelle Homepage & Website erstellen in München | maxWapp"
seoDesc="Professionelles Webdesign in München: Schnell ladende Websites, bessere Google-Rankings & mehr Kundenanfragen – ideal für Selbstständige & kleine Firmen."
>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "LocalBusiness",
      "@id": "https://maxwapp.de#business",
      "name": "maxWapp",
      "image": "https://maxwapp.de/images/logo.png",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Constanze-Hallgarten Str. 40",
        "addressLocality": "München",
        "postalCode": "81379",
        "addressCountry": "DE"
      },
      "url": "https://maxwapp.de",
      "telephone": "+49 1777 59 48 39",
      "priceRange": "€€",
      "openingHours": "Mo-Fr 08:00-18:00",
      "sameAs": [
        "https://www.instagram.com/maxwapp.de",
        "https://www.linkedin.com/in/juri-lorenz"
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "reviewCount": "47",
        "bestRating": "5",
        "worstRating": "5"
      },
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "bestRating": "5"
        },
        "author": {
          "@type": "Person",
          "name": "Robert Maher"
        },
        "reviewBody": "Juri hat für uns die Website für Immobilien München komplett neu gestaltet..."
      }
    }
  ]
}
</script>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Product",
        "name": "Starter",
        "image": "https://maxwapp.de/images/packages/starter-package-cover.webp",
        "description": "Landingpage, mobilfreundlich, kostenloses Hosting & Domain, Datenschutz etc.",
        "brand": {
          "@type": "Brand",
          "name": "maxWapp"
        },
        "offers": {
          "@type": "Offer",
          "priceCurrency": "EUR",
          "price": "900",
          "availability": "http://schema.org/InStock",
          "url": "https://maxwapp.de/preise"
        }
      },
      {
        "@type": "Product",
        "name": "Basic",
        "image": "https://maxwapp.de/images/packages/basic-package-cover.webp",
        "description": "Startseite, bis 5 Menüpunkte, KI-Bilder, Logo, SEO & mehr.",
        "brand": {
          "@type": "Brand",
          "name": "maxWapp"
        },
        "offers": {
          "@type": "Offer",
          "priceCurrency": "EUR",
          "price": "1900",
          "availability": "http://schema.org/InStock",
          "url": "https://maxwapp.de/preise"
        }
      },
      {
        "@type": "Product",
        "name": "Business",
        "image": "https://maxwapp.de/images/packages/business-package-cover.webp",
        "description": "Komplettes Branding, professionelle Foto- & Videoproduktion, SEO, Visitenkarten & mehr.",
        "brand": {
          "@type": "Brand",
          "name": "maxWapp"
        },
        "offers": {
          "@type": "Offer",
          "priceCurrency": "EUR",
          "price": "3900",
          "availability": "http://schema.org/InStock",
          "url": "https://maxwapp.de/preise"
        }
      }
    ]
  }
  </script>
  
    <!-- Devices Section -->
    <HeroComponent />


    <h2
    id="ueber-mich"
    class="text-center text-4xl md:text-6xl font-bold text-gray-100 drop-shadow-lg mt-12 md:mb-12 md:mt-36"
    >
    Über mich    </h2>

    <div
      class="flex flex-col items-center md:flex-row md:justify-center md:items-center md:space-x-32 mt-12"
    >
      <!-- Profilbild mit Farbverlauf-Rahmen und Schatten -->
      <div
        class="rounded-full p-1 bg-gradient-to-r from-purple-400 to-blue-500 shadow-md drop-shadow-[-35px_0px_35px_rgba(75,0,130,0.6)] profile-container"
      >
        <div class="rounded-full bg-[#090a1a] p-0">
          <img
            src="/images/juri-lorenz-foto.webp"
            class="rounded-full w-48 h-48 md:w-56 md:h-56 object-cover"
            alt="Juri Lorenz, Webentwickler in München"
          />
        </div>
      </div>

      <!-- Motto-Text neben dem Bild -->
      <div class="text-center md:text-left md:pl-12 mt-6 md:mt-0">
        <p class="text-2xl md:text-2xl font-medium text-gray-300">
          <span>Juri</span><br />
          <span>Lorenz</span><br />
        </p>

        <!-- Hauptmotto -->
        <p
          class="mt-4 text-5xl md:text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-blue-500"
        >
          <span>Max</span><br />
          <span>Wapp</span>
        </p>
      </div>
    </div>

    <!-- Inhalt Abschnitt -->
    <div
      class="w-11/12 md:w-10/12 lg:w-8/12 mx-auto text-lg md:text-xl text-gray-300 leading-relaxed mt-20 md:mt-32 flex flex-col-reverse md:flex-row items-center gap-16 md:gap-32"
    >
      <!-- Handybildabschnitt für Desktop links -->
      <div
        class="w-full md:w-5/12 flex justify-center md:justify-end mb-12 md:mb-0 rounded shadow-md drop-shadow-[-35px_0px_35px_rgba(75,0,130,0.6)] phone-container"
      >
        <img
          src="/images/maxwapp-iphone-1.webp"
          alt="Phone Screenshot"
          class="w-80 md:w-auto md:max-h-[60vh] object-contain rounded-lg"
        />
      </div>

      <!-- Textabschnitt für Desktop rechts -->
      <div class="w-full md:w-7/12 text-center md:text-left">
        <p class="text-xl md:text-2xl mt-4">
          Hi, ich bin 
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-blue-500">
            Juri Lorenz
          </span>,
          ein erfahrener Webdesigner und Marketing-Experte aus München. Ich spezialisiere mich auf 
          <span class="underline-animation">
            High-Conversion Websites
          </span>, die dir mehr Kunden und Umsatz bringen.
        </p>
        
        <p class="text-xl md:text-2xl mt-8">
          Mit über 
          <span class="text-gradient">
            15 Jahren Erfahrung
          </span> 
          in Webentwicklung, WordPress und Astro setze ich Projekte um, die begeistern – schnell und mobil-optimiert.
        </p>

        <p class="text-xl md:text-2xl mt-8">
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-blue-500">
            Bereit, dein Projekt zu starten?
          </span>
        </p>

                <!-- Buttons at the bottom-right -->
                <div
                class="flex flex-col md:flex-row gap-6 mt-8 md:mt-16 justify-center md:justify-start items-center md:items-start w-full md:w-auto"
              >
                <!-- Secondary Button -->
                <a
                  href="/projekte"
                  class="bg-[#1f1235] text-white font-bold py-4 px-10 rounded-full border-2 border-[#6d87d1] shadow-lg transition-all duration-300 ease-in-out hover:bg-blue-500 hover:shadow-[0_0_10px_rgba(147,112,219,0.5),_0_0_25px_rgba(3,169,244,0.4)] text-center w-full max-w-xs md:max-w-none md:w-auto"
                >
                  Projekte erleben
                </a>
      
                <!-- Primary Button -->
                <a
                  href="/kontakt"
                  class="relative inline-block py-4 px-10 rounded-full font-bold text-center w-full max-w-xs md:max-w-none md:w-auto bg-white text-[#090a1a] shadow-lg transition-all duration-300 ease-in-out hover:shadow-[0_0_20px_rgba(147,112,219,0.8),_0_0_35px_rgba(3,169,244,0.6)] hover:border-[#6d87d1]"
                >
                  Let's talk
                </a>
              </div>
      </div>

      
    </div>


            <!-- Services Section -->
            <ServicesComponent />

             <!-- Devices Section -->
             <DevicesComponent />


             
    <!-- Warum mit mir arbeiten Abschnitt -->
    <h2
      class="text-center text-4xl md:text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-blue-500 mt-36 mb-24 mx-2"
    >
      Warum mit mir arbeiten?
    </h2>

    <div
      class="w-11/12 md:w-10/12 lg:w-8/12 mx-auto flex flex-col md:flex-row items-center mb-24"
    >
      <!-- Handybildabschnitt für Desktop links -->
      <div
        class="w-full md:w-5/12 flex justify-center md:justify-center mb-12 md:mb-0 rounded shadow-md drop-shadow-[-35px_0px_35px_rgba(75,0,130,0.6)] phone-container-second"
      >
        <img
          src="/images/maxwapp-iphone-2.webp"
          alt="Phone Screenshot"
          class="w-80 md:w-auto md:max-h-[60vh] object-contain rounded-lg"
        />
      </div>

<!-- Textabschnitt für Desktop rechts -->
<div class="w-full md:w-7/12 text-center md:text-left">
  <p class="text-xl md:text-2xl mt-4">
    Ich bringe meine Erfahrung aus Projekten in den Bereichen Immobilien, Architektur und E-Commerce ein, um <span class="underline-animation">deinen Umsatz zu steigern</span>.
  </p>
  
  <p class="text-xl md:text-2xl mt-8">
    Mein Fokus liegt auf maßgeschneiderten Lösungen, die High-Conversion Websites, modernes Design und blitzschnelle Performance kombinieren.
  </p>

  <p class="text-xl md:text-2xl mt-8">
    Überzeuge dich selbst von meinem
    <a
      href="https://www.google.com/maps/place/maxWapp+%7C+Juri+Lorenz/@48.0961726,11.5084223,17z/data=!3m1!5s0x479dd9218f79d1d3:0x204263009f086393!4m8!3m7!1s0xf3b4b557fd55469:0x893accd647bdc468!8m2!3d48.0961726!4d11.5084223!9m1!1b1!16s%2Fg%2F11wr1981wf?entry=ttu&g_ep=EgoyMDI1MDUwMy4wIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D"
      target="_blank"
      rel="noopener noreferrer"
      class="inline-flex items-center font-semibold text-orange-300 hover:text-orange-200 transition"
    >
      ★ ★ ★ ★ ★ Top-Rating auf Google
    </a>
  </p>

  <!-- Call to Action -->
  <p class="text-xl md:text-2xl mt-8">
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-blue-500">
      Bereit, dein Projekt aufs nächste Level zu heben?
    </span>
  </p>


        <!-- Buttons at the bottom-right -->
        <div
          class="flex flex-col md:flex-row gap-6 mt-8 md:mt-16 justify-center md:justify-start items-center md:items-start w-full md:w-auto"
        >


          <!-- Primary Button -->
          <a
            href="/kontakt"
            class="relative inline-block py-4 px-10 rounded-full font-bold text-center w-full max-w-xs md:max-w-none md:w-auto bg-white text-[#090a1a] shadow-lg transition-all duration-300 ease-in-out hover:shadow-[0_0_20px_rgba(147,112,219,0.8),_0_0_35px_rgba(3,169,244,0.6)] hover:border-[#6d87d1]"
          >
            Let's talk
          </a>

        </div>

      </div>
                

      <style>
        .text-gradient {
  background: linear-gradient(to right, #9c27b0, #03a9f4);
  -webkit-background-clip: text;
  color: transparent;
}

.drop-shadow-lg {
  filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.2));
}

.border-gradient-to-r {
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #9c27b0, #03a9f4);
}

.underline-animation {
  display: inline-block;
  background-image: linear-gradient(120deg, #03a9f4, #9c27b0);
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: 0 88%;
  transition: background-size 0.3s ease-in-out;
}

.underline-animation:hover {
  background-size: 100% 100%;
}
      </style>


    </div>
  </div></MainLayout
>