---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout 
  title="Webentwicklung Preise | Juri Lorenz | maxWapp" 
  seoTitle="Webentwicklung Preise für Unternehmen | Juri Lorenz | maxWapp" 
  seoDesc="Entdecken Sie die Preise für professionelle Webentwicklung durch Juri Lorenz. Maßgeschneiderte Lösungen für Start-ups, kleine und große Unternehmen in München und ganz Deutschland."
>
  <!-- Background with gradient -->
  <div class="min-h-screen bg-gradient-to-b from-[#090a1a] to-[#290065] text-white text-center flex flex-col items-center justify-center">
    
    <!-- Title -->
    <h1 class="text-center text-4xl md:text-6xl font-bold text-gray-100 drop-shadow-lg mx-4 mt-24 mb-12 md:mb-16 max-w-5xl">
      Wieviel investierst du in deinen Online-Erfolg?
    </h1>
    
    <!-- Pricing Info Section -->
    <h2 class="text-center text-xl md:text-3xl font-bold text-gray-300 -mt-4 mb-12 max-w-5xl mx-auto">
      Auf Basis des kostenlosen Erstgesprächs erarbeite ich ein Konzept und je nach Aufwand und Größe mache ich dir ein passendes Angebot.
    </h2>

<!-- Pricing Cards -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-16 px-4 pb-24 md:px-4 max-w-7xl mx-auto">
  
  <!-- Start-Up Package -->
  <div class="relative bg-[#1b1b33] p-6 rounded-xl border border-gray-700 shadow-[0px_0px_35px_rgba(147,112,219,0.6)]">
    <div class="absolute top-0 left-0 bg-gradient-to-r from-purple-400 to-blue-500 w-full h-2 rounded-t-xl"></div>
    <h4 class="text-6xl text-white my-4">
      <span class="text-2xl font-bold">ab</span> 500 <span class="text-2xl font-bold">€</span>
    </h4>
    <h5 class="text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-blue-500">Basic</h5>
    <ul class="text-lg text-gray-300 leading-relaxed space-y-2 mt-8 ml-8">
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Startseite</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Kontaktformular</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Impressum</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> DSGVO-konform</li>
    </ul>
    <div class="my-16">
      <a href="/contact" class="bg-[#1f1235] text-white font-bold py-4 px-24 text-center rounded-full border-2 border-[#6d87d1] shadow-lg w-full max-w-xs md:max-w-none md:w-auto hover:bg-blue-500 hover:shadow-[0_0_10px_rgba(147,112,219,0.5),_0_0_25px_rgba(3,169,244,0.4)] hover:text-white transition-all hover:shadow-glow">
        Anfragen
      </a>
    </div>
  </div>
  
  <!-- Business Package -->
  <div class="relative bg-[#1b1b33] p-6 rounded-xl border border-gray-700 shadow-[0px_0px_35px_rgba(147,112,219,0.6)]">
    <div class="absolute top-0 left-0 bg-gradient-to-r from-purple-400 to-blue-500 w-full h-2 rounded-t-xl"></div>
    <h4 class="text-6xl text-white my-4">
      <span class="text-2xl font-bold">ab</span> 1200 <span class="text-2xl font-bold">€</span>
    </h4>
    <h5 class="text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-blue-500">Business</h5>
    <ul class="text-lg text-gray-300 leading-relaxed space-y-2 mt-8 ml-8">
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Startseite</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> 6 weitere Menüpunkte</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Corporate Design</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Individuelles Design</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Professionelle Fotos</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Logo Erstellung</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Suchmaschinenoptimiert</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Kontaktformular</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Impressum</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> DSGVO-konform</li>
    </ul>
    <div class="my-16">
      <a href="/contact" class="bg-[#1f1235] text-white font-bold py-4 px-24 text-center rounded-full border-2 border-[#6d87d1] shadow-lg w-full max-w-xs md:max-w-none md:w-auto hover:bg-blue-500 hover:shadow-[0_0_10px_rgba(147,112,219,0.5),_0_0_25px_rgba(3,169,244,0.4)] hover:text-white transition-all hover:shadow-glow">
        Anfragen
      </a>
    </div>
  </div>
  
  <!-- Big Business Package -->
  <div class="relative bg-[#1b1b33] p-6 rounded-xl border border-gray-700 shadow-[0px_0px_35px_rgba(147,112,219,0.6)]">
    <div class="absolute top-0 left-0 bg-gradient-to-r from-purple-400 to-blue-500 w-full h-2 rounded-t-xl"></div>
    <h4 class="text-6xl text-white my-4">
      <span class="text-2xl font-bold">ab</span> 3000 <span class="text-2xl font-bold">€</span>
    </h4>
    <h5 class="text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-blue-500">Big Player</h5>
    <ul class="text-lg text-gray-300 leading-relaxed space-y-2 mt-8 ml-8">
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Startseite</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Konzeptionierung</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Unbegrenzte Menüpunkte</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Corporate Design</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Individuelles Design</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Professionelle Fotos</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Logo Erstellung</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Visitenkarten Design</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Suchmaschinenoptimiert</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Google Analytics</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Google Business</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Kontaktformular</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> Impressum</li>
      <li class="flex items-start"><i class="fas fa-check text-white mt-1 mr-4"></i> DSGVO-konform</li>
    </ul>
    <div class="my-16">
      <a href="/contact" class="bg-[#1f1235] text-white font-bold py-4 px-24 text-center rounded-full border-2 border-[#6d87d1] shadow-lg w-full max-w-xs md:max-w-none md:w-auto hover:bg-blue-500 hover:shadow-[0_0_10px_rgba(147,112,219,0.5),_0_0_25px_rgba(3,169,244,0.4)] hover:text-white transition-all hover:shadow-glow">
        Anfragen
      </a>
    </div>
  </div>
</div>
  </div>
</MainLayout>