---
import MainLayout from "../layouts/MainLayout.astro";
import DevicesComponent2 from '../components/DevicesComponent2.astro';
---

<MainLayout 
  title="Web-Entwicklung & KI-Integration | maxWapp" 
  seoTitle={"Web-Entwicklung & KI-Integration in München | maxWapp"} 
  seoDesc={"Web-Entwicklung & KI-Integration, inklusive WordPress, React und Astra Entwicklung. Aktiv in München, Deutschland, Österreich und der Schweiz. Wachstum durch innovative Technologie und KI Integration."}
>

    <!-- Devices Section with 1000px spacing -->
    <div style="margin-top: 200px; margin-bottom: 1000px;">
      <DevicesComponent2 />
    </div>

</MainLayout>