---
import { Icon } from "astro-icon/components"
---

<footer class="bg-[#090a1a] text-white py-10 px-4 mt-auto">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-8 text-center md:text-left">
    <!-- Address Section -->
    <div class="flex flex-col items-center md:items-start">
      <a href="/" class="text-lg font-bold mb-4 hover:text-[#6d87d1]">maxWapp</a>
      <div class="flex flex-col space-y-4 md:space-y-2">
        <div class="flex items-center space-x-2">
          <i class="fas fa-envelope text-white w-6 h-6"></i>
          <a href="mailto:info@maxwapp.de" class="hover:text-[#6d87d1] transition">info@maxwapp.de</a>
        </div>
        <div class="flex items-center space-x-2">
          <i class="fas fa-phone text-white w-6 h-6"></i>
          <a href="tel:+491777594839" class="hover:text-[#6d87d1] transition">+49 1 777 59 48 39</a>
        </div>
        <div class="flex items-center space-x-2">
          <i class="fas fa-map-marker-alt text-white w-6 h-6"></i>
          <a href="https://www.google.com/maps/place/maxWapp+%7C+Juri+Lorenz" target="_blank" rel="noopener noreferrer" class="hover:text-[#6d87d1] transition">Constanze-Hallgarten<br />Str. 40, 81379 München</a>
        </div>
      </div>
    </div>

    <!-- Services Section -->
    <div class="flex flex-col items-center md:items-start">

      <ul class="space-y-2">
        <li><a href="/services/websites" class="hover:text-[#6d87d1] transition">Websites</a></li>
        <li><a href="/services/online-shop" class="hover:text-[#6d87d1] transition">Online-Shop</a></li>
        <li><a href="/services/website-optimierung" class="hover:text-[#6d87d1] transition">Optimierung</a></li>
        <li><a href="/services/ki-und-tools" class="hover:text-[#6d87d1] transition">KI & Tools</a></li>
        <li><a href="/services/branding-und-printdesign" class="hover:text-[#6d87d1] transition">Branding & Printdesign</a></li>
        <li><a href="/services/agenturen" class="hover:text-[#6d87d1] transition">Für Agenturen</a></li>
      </ul>
    </div>

    <!-- Pages Section -->
    <div class="flex flex-col items-center md:items-start">
      <ul class="space-y-2">
        <li><a href="/projekte" class="hover:text-[#6d87d1] transition">Projekte</a></li>
        <li><a href="/preise" class="hover:text-[#6d87d1] transition">Preise</a></li>
        <li><a href="/ueber-mich" class="hover:text-[#6d87d1] transition">Über mich</a></li>
        <li><a href="/kontakt" class="hover:text-[#6d87d1] transition">Kontakt</a></li>
        <li><a href="/webdesign-blog" class="hover:text-[#6d87d1] transition">Blog</a></li>

      </ul>
    </div>

    <!-- Legal and Social Section -->
    <div class="flex flex-col items-center md:items-start">
      <a href="/impressum" class="hover:text-[#6d87d1] transition">Impressum</a>
      <a href="/datenschutz" class="hover:text-[#6d87d1] transition mt-4">Datenschutz</a>
      <div class="flex space-x-6 mt-6">
        <a href="https://www.instagram.com/maxwapp.de" class="text-white hover:text-[#6d87d1] transition">
          <Icon name="fa:instagram" class="w-6 h-6" />
        </a>
        <a href="https://www.linkedin.com/in/juri-lorenz" class="text-white hover:text-[#6d87d1] transition">
          <Icon name="fa:linkedin" class="w-6 h-6" />
        </a>
        <a href="https://github.com/jurilorenz" class="text-white hover:text-[#6d87d1] transition">
          <Icon name="fa:github" class="w-6 h-6" />
        </a>
      </div>
    </div>
  </div>

  <!-- Divider -->
  <hr class="my-8 border-gray-600" />

  <!-- Footer Bottom -->
  <div class="max-w-3xl mx-auto text-center relative">
    <small>&copy; <span id="copyright"></span> maxWapp</small>
    <a href="#" class="absolute right-0 top-0 hover:text-[#6d87d1] transition">
      <i class="fas fa-circle-chevron-up fa-2x text-white"></i>
                    </a>
  </div>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date().getFullYear().toString()
</script>
