---
interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<div class="relative bg-[#1b1b33] p-8 rounded-xl border border-gray-700 shadow-[0px_0px_35px_rgba(147,112,219,0.6)]">
  <div class="absolute top-0 left-0 bg-gradient-to-r from-purple-400 to-blue-500 w-full h-2 rounded-t-xl"></div>

  <h4 class="text-3xl font-bold text-white mb-6">
    {title}
  </h4>

  <p class="text-lg text-gray-300 leading-relaxed" set:html={text} />
</div>