---
// IpadComponent.astro
export interface IpadComponentProps {
  imgSrc: string;
  imgAlt: string;
}

const { imgSrc, imgAlt } = Astro.props;
---

<section class="relative mt-12">
  <div 
    class="
      mt-2 relative 
      w-screen 
      -ml-[calc((100vw-100%)/2)] 
      drop-shadow-[0px_-35px_35px_rgba(75,0,130,0.6)]
      sm:w-full sm:ml-auto sm:mr-auto sm:max-w-6xl
    "
  >
    <img 
      src={imgSrc} 
      alt={imgAlt} 
      class="rounded-lg w-full h-auto object-contain"
    />
  </div>
</section>