---
// IpadComponent.astro
export interface IpadComponentProps {
  imgSrc: string;
  imgAlt: string;
}

const { imgSrc, imgAlt } = Astro.props;
---

<section class="relative mt-12">
  <!-- Image section without animation -->
  <div class="mt-2 relative mx-auto w-full max-w-5xl drop-shadow-[0px_-35px_35px_rgba(75,0,130,0.6)]">
    <img 
      src={imgSrc} 
      alt={imgAlt} 
      class="rounded-lg w-full h-auto object-contain"
    />
  </div>
</section>