---
type Props = {
  href?: string;
  rating?: string;
  reviewsText?: string;
};

const {
  href = "https://maps.app.goo.gl/GtUzkebZVCTRm6Fn6",
  rating = "5.0",
  reviewsText = "über 70 Bewertungen",
} = Astro.props;
---

<div class="flex flex-col items-start mb-3 rounded-lg p-2">
  <div class="flex items-center">
    <div class="text-orange-200">
      ★ ★ ★ ★ ★
    </div>
    <div class="mw-body ml-2">
            {rating}
    </div>
  </div>

  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
  <div class="mw-body mt-1 underline"
      >
    {reviewsText}
  </a>
</div>