---
import MainLayout from "../../layouts/MainLayout.astro";
import RoomContent from "../../components/projects/RoomContent.astro";
import BattleContent from "../../components/projects/BattleContent.astro";
import MaaArt from "../../components/projects/MaaArtContent.astro";
import Brunner from "../../components/projects/Brunner.astro";
import AkimovaArt from "../../components/projects/AkimovaArt.astro";
import Efimow from "../../components/projects/Efimow.astro";
import BavarianIceRoll from "../../components/projects/BavarianIceRoll.astro";
import Felix from "../../components/projects/Felix.astro";
import StudioD from "../../components/projects/StudioD.astro";
import AnnaMenci from "../../components/projects/AnnaMenci.astro";
import Streetly from "../../components/projects/Streetly.astro";
import VadimAevskiy from "../../components/projects/VadimAevskiy.astro";



export async function getStaticPaths() {
  return [
    { 
      params: { projects: "1" }, 
      props: {
        name: "MAA Art",
        desc: "",
      },
    },
    { 
      params: { projects: "2" }, 
      props: {
        name: "ROOM Planetarium",
        desc: "",
      },
    },
    { 
      params: { projects: "3" }, 
      props: {
        name: "Battle Calculator",
        desc: "",
      },
    },
    { 
      params: { projects: "4" }, 
      props: {
        name: "Anna Menci",
        desc: "",
      },
    },
    { 
      params: { projects: "5" }, 
      props: {
        name: "Brunner",
        desc: "",
      },
    },
    { 
      params: { projects: "6" }, 
      props: {
        name: "Akimova-Art",
        desc: "",
      },
    },
    { 
      params: { projects: "7" }, 
      props: {
        name: "EFIMOW Automobile",
        desc: "",
      },
    },
    { 
      params: { projects: "8" }, 
      props: {
        name: "Bavarian Ice Roll",
        desc: "",
      },
    },
    { 
      params: { projects: "10" }, 
      props: {
        name: "Felix Rheindorf",
        desc: "",
      },
    },
    { 
      params: { projects: "11" }, 
      props: {
        name: "Streetly",
        desc: "",
      },
    },
    { 
      params: { projects: "12" }, 
      props: {
        name: "Personal Website",
        desc: "",
      },
    },
    { 
      params: { projects: "9" }, 
      props: {
        name: "Studio D",
        desc: "",
      },
    },
  ];
}

const { projects } = Astro.params;
const { name, desc } = Astro.props;
---

<MainLayout>
  <!-- Background with gradient similar to home page -->
  <div class="min-h-screen text-white">

    <!-- Title -->
    <h1 class="text-center text-4xl md:text-6xl font-bold drop-shadow-lg mt-24 mb-8 mx-2">
       {name}
    </h1>

    <!-- Description -->
    <p class="text-center text-lg px-4 md:text-2xl text-gray-300 mb-12 max-w-4xl mx-auto">
      {desc}
    </p>

    <!-- Project Image -->
    <section class="mx-auto w-11/12 md:w-8/12 lg:w-6/12 flex flex-col items-center">
      <img 
        src={`/images/projects/${projects}.webp`}  
        class="rounded shadow-md drop-shadow-[0px_-35px_35px_rgba(75,0,130,0.6)] object-contain w-full h-auto max-h-[90vh]"
        alt={`Project ${name}`}
      />
    </section>

    <!-- Dynamic Content for each project -->
    <section class="my-12 w-10/12 md:w-8/12 lg:w-7/12 mx-auto">
      {projects === '1' && <MaaArt />}
      {projects === '2' && <RoomContent />}
      {projects === '3' && <BattleContent />}
      {projects === '4' && <AnnaMenci />}
      {projects === '5' && <Brunner />}
      {projects === '6' && <AkimovaArt />}
      {projects === '7' && <Efimow />}
      {projects === '8' && <BavarianIceRoll />}
      {projects === '9' && <StudioD />}
      {projects === '10' && <Felix />}
      {projects === '11' && <Streetly />}
      {projects === '12' && <VadimAevskiy />}
    </section>


    </div>
  </div>
</MainLayout>

<style>
  body {
    font-family: 'Poppins', sans-serif;
  }
</style>